
<style>
    body{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-color: black;
    }
    img{
        margin-top: 200px;
    }

</style>
<body>
    <img src="~/img/shall-not-pass.gif" />
</body>